extends layout

block content  

  div.container
    h1 Welcome to CloudCV demonstration
    
    each algorithm in api
      div.row
        .col-md-8
          h2 #{algorithm.name}
          ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
              a(href="#description" aria-controls="description" role="tab" data-toggle="tab") Description
            li(role="presentation")
              a(href="#inputArguments", aria-controls="inputArguments", role="tab", data-toggle="tab") Input arguments
            li(role="presentation")
              a(href="#outputArguments", aria-controls="outputArguments", role="tab", data-toggle="tab") Output arguments
            li(role="presentation")
              a(href="#raw", aria-controls="raw", role="tab", data-toggle="tab") Raw

          .tab-content
            div.tab-pane.active(role="tabpanel",id="description") Here comes algorithm description
            
            div.tab-pane(role="tabpanel",id="inputArguments")
              ul
              each argument in algorithm.inputArguments
                li #{argument.key}

            div.tab-pane(role="tabpanel",id="outputArguments")
              ul
              each argument in algorithm.outputArguments
                li #{argument.key}
            div.tab-pane(role="tabpanel",id="raw")
              pre 
                = JSON.stringify(algorithm, undefined, 4)